
<%= form_for @question do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Question Title', class: 'col-xs-2' %>
    <div class= "col-xs-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class= "form-group">
    <%= f.label :body, 'Question Body', class: 'col-xs-2' %>
    <div class= "col-xs-10">
      <%= f.text_field :body, class: 'form-control' %>
    </div>
  </div>
  <div class= "col-sm-offset-2 col-sm-10 btn">
    <%= f.submit "Submit", class: "btn" %>
  </div>
<% end %>
