<%= link_to "Home", root_path %>
<% if logged_in? %>
  <%= render partial: "votes/question_vote", locals: {question: @question, voteable_type: "Question", voteable_id: @question.id, vote_count: @question.vote_count } %>
<% else %>
  <h3><%= @question.vote_count %></h3>
<% end %>
<%= @question.title %><br>
<%= @question.body %>

<% if logged_in? %>
  <%= render 'comments/question_comment', question: @question %>
<% end %>

<h2 id="question-comments-header">Question Comments</h2>

<% if @question.comments %>
  <% @question.comments.each do |c| %>
    <%= c.body %><br/>
  <% end %>
<% end %>

<% if logged_in? %>
  <%= render 'answers/form', answer: @answer %>
<% end %>

<% if @question.answers %>
  <% @question.answers.each do |a| %>
    <%= render 'answers/show', answer: a %>
    <% if a.comments %>
      <% a.comments.each do |c| %>
        <%= c.body %><br>
      <% end %>
    <% end %>
  <% end %>
<% end %>