<h1>Login</h1>

<%= form_for @user, url: create_session_path do |f| %>
  <div class="form-group">
    <%= f.label :username, class: 'col-xs-2' %>
    <div class= "col-xs-10">
      <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>
  <div class= "form-group">
    <%= f.label :password, class: 'col-xs-2' %>
    <div class= "col-xs-10">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>
  <div class= "col-sm-offset-2 col-sm-10">
    <%= f.submit %>
  </div>
<% end %>



