<html>
  <%= render partial: "welcome/navbar" %>
  <body>
    <div id="main-container" class="container-fluid">
      <% @questions.each do |question| %>
        <div id="articlebar" class="row">
          <div id="votes-holder" class="col-xs-1 holder" >
            <div class="row">
              <div id="votecountlabel" class= "col-xs-1">
                <p> <%= question.vote_count %> </p>
              </div>
            </div>
            <div class="row">
              <div id="votelabel" class= "col-xs-1">
                <p> votes </p>
              </div>
            </div>
          </div>
          <div id="answers-holder" class="col-xs-1 holder">
            <div class="row">
              <div id="answercountlabel" class= "col-xs-1">
                <p> <%= question.answers.count %> </p>
              </div>
            </div>
            <div class="row">
              <div id="answerlabel" class= "col-xs-1">
                <p> answer </p>
              </div>
            </div>
          </div>
          <div id="views-holder" class="col-xs-1 holder">
            <div class="row">
              <div id="viewscountlabel" class= "col-xs-1">
                <p> <%= question.view_count %> </p>
              </div>
            </div>
            <div class="row">
              <div id="viewslabel" class= "col-xs-1">
                <p> views </p>
              </div>
            </div>
          </div>
          <div id="question-holder" class="col-xs-9 holder">
            <div class="row">
              <div id="question-title" class= "col-xs-12">
                <p> <%= link_to question.title, question %></p>
              </div>
            </div>
            <div class="row">
              <div id="tags-list" class= "col-xs-6">
                <p> tags </p>
              </div>
              <div id="authorlabel" class= "col-xs-6">
                <p> <%= link_to question.user.username, question.user %> </p>
                <p> author </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>

